* {
    box-sizing: border-box;
  }
body {
  background-image: url('background.jpg');
  background-position: 10%, 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 0%;  
  font-family: sans-serif;
  
}

.header {
  background-color: #99999953;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 0.5em;
  font-weight: bolder;
  text-align: center;
  

}

.header:hover {
  background-color: #9999;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 18%;
}

.content {
  width: 80%;
  color: white;
  background-color:  #9999;
  border-radius: 1em 2em;
  margin: 10px;
  font-weight: bolder;
}
.content:hover {
  background-color: #9999;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background: linear-gradient(to right, rgba(238, 232, 170, 0.959), rgba(80, 76, 27, 0.425));
  border-radius: 2em;
  color: #ffffff00;
  text-align: center;
  font-weight: bolder;
  }

.menu li:hover {
  background-color: #9999;
}

h2{
    background: linear-gradient(to right, rgba(238, 232, 170, 0.81), #efe45013);
    background-blend-mode: darken;
    border-radius:2em 0em;
    padding-left: 5%;
    
}

p, ol{
    background: linear-gradient(to right, rgba(26, 31, 1, 0.81), #e2f0a713);
    width: fit-content;
    height: fit-content;
    border-radius:0em 2em;
    padding-left: 2%;
    text-indent: 15px;

}

a {
text-decoration: none;
color: #f3f2f2; 
}


.footer {
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 15px;
  bottom: 0;
  width: 100%;
  
}
